
/*Személyre szabott betűtípus*/

@font-face {
    font-family: 'humanisticmedium';
    src: url('humanistic-webfont.woff2') format('woff2'),
         url('humanistic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url(https://www.nkp.hu/tankonyv/tortenelem_10_nat2020//img/86_Reprise_chateau_Buda_1686.jpg?max_width=2048);
    background-size: cover;
    background-attachment: fixed;

}
.container{
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width: none;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto auto;
}
header{
    color: rgb(0, 0, 0);

}
li{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family:'humanisticmedium';
    display: inline-block;
    position: relative;
}

li :hover{
    color: black;
}

li :hover:after{
    border-color: black;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li :hover::after {
    color: black;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  
li a{
    color: black;
    padding: 35px;
    text-decoration: none;
}



h1{ 
    margin-top: 50px;
    font-family: 'humanisticmedium';
    color: white;
    text-align: center;
    position: relative;
    font-size: 65px;
    text-shadow: black 2px 2px 2px;
    margin-top: 350px;
}
h2{
    text-size-adjust: 10px;
    color: black;
}

.kep1{
    vertical-align:middle;
    position: relative 30%;
}

.zsiziszoveg{ 
    font-size: larger;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    position: relative;left: 10px;top: 30px;

}


.csatakszoveg{
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    position: relative;top: 30px;



}

.video1{
    margin: 500px;
}